.concept {
	padding: 120px 0;
	font-weight: bold;

	&__title {
		&::after {
			border-top: black 3px solid;
		}
	}

	h3 {
		font-size: 30px;
		text-align: center;
		padding: 80px 0;
	}

	&__content {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;

		&--text {
			width: 45%;
			line-height: 30px;
			padding-right: 80px;
		}

		&--image {
			img {
				width: 100%;
			}
		}
	}

	&__bottom {
		text-align: right;
		color: #171717;
	}
}

.works {
	background: center / cover no-repeat url(../images/works-bgi@2x.jpg);
	padding: 120px 0;

	&__title {
		color: white;
		justify-content: flex-end;

		&::after {
			border-top: 3px solid;
		}
	}

	&__content {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin-top: 100px;

		&--card {
			width: 320px;

			.card-text {
				padding: 20px;
				background-color: white;
				line-height: 30px;
			}

			&:nth-child(2) {
				padding: 0 20px;
			}
		}
	}

	&__bottom {
		color: white;
	}
}

.service {
	padding: 120px 0;

	&__title {
		padding-bottom: 80px;

		&::after {
			border-top: black 3px solid;
		}
	}

	&__content {
		display: flex;
		height: 320px;
		width: 100%;

		&--image {
			width: calc(100% / 3);
			height: auto;
			position: relative;

			&:hover {
				&::before {
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					background-color: rgba(0,0,0,.5);
				}
			}

			&:nth-child(1) {
				background: center / cover no-repeat url(../images/service-img01@2x.jpg);
			}

			&:nth-child(2) {
				background: center / cover no-repeat url(../images/service-img02@2x.jpg);
			}

			&:nth-child(3) {
				background: center / cover no-repeat url(../images/service-img03@2x.jpg);
			}

			span {
				color: white;
				font-size: 40px;
				width: 100%;
				display: inline-block;
				text-align: center;
				line-height: 320px;
			}
		}
	}

	&__bottom {
		text-align: right;
		color: #171717;
	}
}

.contact {
	background: center / cover no-repeat url(../images/contact-bgi@2x.jpg);
	padding: 120px 0;

	h3 {
		color: white;
		font-size: 20px;
		text-align: center;
		margin-top: 100px;
	}

	&__bottom {
		color: white;
	}

	a {
		color: black;
		text-decoration: none;
	}
}

@media screen and (max-width:767px) {
	.concept {
		padding: 80px 0;

		h3 {
			font-size: 20px;
			padding: 50px 0 30px;
		}

		&__content {
			&--text {
				padding: 0;
				width: 100%;
				padding-bottom: 30px;
			}
		}
	}

	.works {
		padding: 80px 0;

		&__content {
			margin-top: 50px;

			&--card {
				margin-bottom: 20px;
			}
		}
	}

	.service {
		padding: 80px 0;

		&__content {
			flex-wrap: wrap;
			height: auto;

			&--image {
				width: 100%;
				margin-bottom: 20px;
			}
		}
	}

	.contact {
		padding: 80px 0;
	}
}