body {
	font-family: 'Noto Serif', 'Noto Serif JP' ,sans-serif;
}

.container {
	padding: 0 10%;
}

.wrapper {
	padding: 0 5%;
}

.title {
	font-size: 60px;
	font-weight: bold;
	font-style: italic;
	display: flex;
	align-items: center;

	&::after {
		content: "";
		width: 3em;
		margin-left: 30px;
	}
}

.btn {
	width: 220px;
	margin: 80px auto;
	background-color: #F7D43F;
	padding: 20px;
	text-align: center;
	border-radius: 50px;
}

.bottom-title {
	padding-top: 60px;
	font-size: 90px;
	opacity: 0.1;
}

.pc_hid{
	display: none;
}

.sp_hid{
	display: block;
}

header {
	.header {
		position: absolute;
		top: 0;

		&__image {
			background: center / cover no-repeat url(../images/fv-bgi_01@2x.jpg);
			width: 100vw;
			height: 100vh;
		}

		&__contents {
			background-color: transparent;
			width: 100%;
			position: fixed;
			z-index: 20;
			transition: all .5s;

			.container {
				display: flex;
				align-items: center;
				justify-content: space-between;
				height: 70px;
			}
		}

		&__contents.change-color {
			background-color: #282f35;
		}

		&__logo {
			font-size: 26px;
			font-style: oblique;

			a {
				text-decoration: none;
				color: white;
			}
		}

		&__nav {
			width: 350px;
			ul {
				display: flex;
				justify-content: space-between;

				li {
					a {
						color: white;
						text-decoration: none;
					}
				}
			}
		}

		&__title {
			color: white;
			position: relative;
			top: 460px;
			width: 604px;

			h2 {
				font-size: 70px;
				padding-bottom: 30px;
			}

			h3 {
				font-size: 40px;
				text-align: center;
			}
		}
	}
}

footer {
	p {
		font-size: 14px;
		text-align: center;
		padding: 30px 0;
	}
}

@media screen and (max-width:767px) {
	main {
		overflow:hidden;
	}

	.container {
		width: 100%;
		padding: 0 6%;
		box-sizing: border-box;
	}
	
	.wrapper {
		margin: 0;
		padding: 0;
	}

	.title {
		font-size: 30px;
	}

	.bottom-title {
		font-size: 40px;
	}

	.btn {
		margin: 50px auto;
	}

	.pc_hid{
		display: block;
	}

	.sp_hid{
		display: none;
	}

	header {
		.header {

			&__title {
				width: 100%;
				top: 320px;

				h2 {
					font-size: 37px;
					text-align: center;
					padding-bottom: 50px;
				}

				h3 {
					font-size: 30px;
					line-height: 50px;
				}
			}

			&__logo {
				width: 100%;
			}

			&__nav-wrapper {
				display: none;
				width: 100vw;
				height: 100vh;
				position: fixed;
				top: 0;
				left: 0;
				z-index: 2;
			}

			&__nav {
				width: 100%;
				height: 100%;
				background-color: #282F35;
				z-index: 2;

				.nav-list {
					display: block;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					text-align: center;

					.nav-item {
						margin-right: 0;
						margin-bottom: 40px;

					}
				}
			}
		}
	}

	.burger-btn{
		display: block;
		width: 39px;
		height: 39px;
		position: relative;
		z-index: 3;
		border:none;
	}
	.bar{
		width: 20px;
		height: 2px;  
		display: block;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		background-color: #fff;
	}
	.bar_top{
		top: 10px;
	}
	.bar_mid{
		top: 50%;
		transform: translate(-50%,-50%);
	}
	.bar_bottom{
		bottom: 10px;
	}
	
	.burger-btn.close .bar_top{
		transform: translate(-50%,10px) rotate(45deg);
		transition: transform .3s;
	}
	.burger-btn.close .bar_mid{
		opacity: 0;
		transition: opacity .3s;
	}
	.burger-btn.close .bar_bottom{
		transform: translate(-50%,-8px) rotate(-45deg);
		transition: transform .3s;
	}

	body.noscroll{
		overflow: hidden;
	}
}