body {
	font-family: 'Noto Serif', 'Noto Serif JP' ,sans-serif;
}

.container {
	padding: 0 180px;
}

.wrapper {
	padding: 0 150px;
}

.title {
	font-size: 60px;
	font-weight: bold;
	font-style: italic;
	display: flex;
	align-items: center;

	&::after {
		content: "";
		width: 3em;
		margin-left: 30px;
	}
}

.btn {
	width: 220px;
	margin: 80px auto;
	background-color: #F7D43F;
	padding: 20px;
	text-align: center;
	border-radius: 50px;
}

.bottom-title {
	padding-top: 60px;
	font-size: 90px;
	opacity: 0.1;
}

header {
	.header {
		position: absolute;
		top: 0;

		&__image {
			background: center / cover no-repeat url(../images/fv-bgi_01@2x.jpg);
			width: 100vw;
			height: 100vh;
		}

		&__contents {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 70px;
		}

		&__logo {
			color: white;
			font-style: oblique;
			font-size: 26px;
		}

		&__nav-list {
			width: 350px;
			ul {
				display: flex;
				justify-content: space-between;

				li {
					a {
						color: white;
						text-decoration: none;
					}
				}
			}
		}

		&__title {
			color: white;
			position: relative;
			top: 460px;
			width: 604px;

			h2 {
				font-size: 70px;
				padding-bottom: 30px;
			}

			h3 {
				font-size: 40px;
				text-align: center;
			}
		}
	}
}

.concept {
	padding: 120px 0;

	&__title {
		&::after {
			border-top: black 3px solid;
		}
	}

	h3 {
		font-size: 30px;
		text-align: center;
		padding: 80px 0;
	}

	&__content {
		display: flex;
		justify-content: center;
		align-items: center;

		&--text {
			width: 440px;
			line-height: 30px;
			padding-right: 80px;
		}
	}

	&__bottom {
		text-align: right;
		color: #171717;
	}
}

.works {
	background: center / cover no-repeat url(../images/works-bgi@2x.jpg);
	z-index: 1;
	padding: 120px 0;

	&__title {
		color: white;
		justify-content: flex-end;

		&::after {
			border-top: 3px solid;
		}
	}

	&__content {
		display: flex;
		justify-content: center;
		margin-top: 100px;

		&--card {
			width: 320px;

			.card-text {
				padding: 20px;
				background-color: white;
				line-height: 30px;
			}

			&:nth-child(2) {
				padding: 0 20px;
			}
		}
	}

	&__bottom {
		color: white;
		opacity: 0.1;
	}
}