body {
  font-family: 'Noto Serif', 'Noto Serif JP' ,sans-serif;
}

.container {
  padding: 0 180px;
}

.wrapper {
  padding: 0 150px;
}

.title {
  font-size: 60px;
  font-weight: bold;
  font-style: italic;
}

.title::after {
  border-top: black 3px solid;
  content: "";
  width: 3em;
  margin-left: 30px;
}

.btn {
  width: 220px;
  margin: 80px auto;
  background-color: #F7D43F;
  padding: 20px;
  text-align: center;
  border-radius: 50px;
}

.bottom-title {
  padding-top: 60px;
  font-size: 90px;
  opacity: 0.1;
}

header .header {
  position: absolute;
  top: 0;
}

header .header__image {
  background: center/cover no-repeat url(../images/fv-bgi_01@2x.jpg);
  width: 100vw;
  height: 100vh;
}

header .header__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
}

header .header__logo {
  color: white;
  font-style: oblique;
  font-size: 26px;
}

header .header__nav-list {
  width: 350px;
}

header .header__nav-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header__nav-list ul li a {
  color: white;
  text-decoration: none;
}

header .header__title {
  color: white;
  position: relative;
  top: 460px;
  width: 604px;
}

header .header__title h2 {
  font-size: 70px;
  padding-bottom: 30px;
}

header .header__title h3 {
  font-size: 40px;
  text-align: center;
}

.concept {
  padding: 120px 0;
}

.concept__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.concept h3 {
  font-size: 30px;
  text-align: center;
  padding: 80px 0;
}

.concept__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.concept__content--text {
  width: 440px;
  line-height: 30px;
  padding-right: 80px;
}

.concept__bottom {
  text-align: right;
  color: #171717;
}

.works {
  background: center/cover no-repeat url(../images/works-bgi@2x.jpg);
  z-index: 1;
  padding: 120px 0;
}

.works__title {
  color: white;
  text-align: right;
}

.works__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
}

.works__content--card {
  width: 320px;
}

.works__content--card .card-text {
  padding: 20px;
  background-color: white;
  line-height: 30px;
}

.works__content--card:nth-child(2) {
  padding: 0 20px;
}

.works__bottom {
  color: white;
  opacity: 0.1;
}
/*# sourceMappingURL=style.css.map */